# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual envs
.venv/
venv/
env/

# Local config & env
.env
*.sqlite3
app.db

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
